body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(61, 196, 184);
}
body,
div,
p {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  color: rgb(61, 196, 184);
  /* line-height: 22px; */
}
canvas {
  width: 80%;
  height: 65%;
  display: initial !important;
}
i {
  font-size: 100px;
}
::-webkit-scrollbar {
  display: none;
}
table {
  width: 100%;
}
table {
  width: 100vw;
  height: 50%;
  min-height: 50%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
}
th,
td {
  align-content: center;
  text-align: center;
  min-width: 25%;
  width: 25%;
  min-height: 50%;
  height: 50%;
  background-color: rgb(45, 46, 46);
  border: 2px solid rgb(61, 196, 184);
}
.data-text {
  font-size: 30px;
}
.data-value {
  font-size: 20px;
}
